/* ----- FONTS ----- */
@font-face {
  font-family: "Gotham";
  font-style: light;
  font-weight: 300;
  src: url("../fonts/GothamProLight.woff2") format("woff2");
  font-display: swap;
}

/* -----  CORE  ----- */
html {
  font-family: "Gotham", sans-serif;
  font-size: 15px;
  color: #181819;
}

body {
  overflow: hidden;
}

.main-container {
  width: 100%;
  max-width: 1365px;
  min-width: 320px;
  margin: 0 auto;
  background: #fff;
}

input, textarea {
  outline: none;
}

button {
  border: none;
}

.btn-wrap {
  text-align: center;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  z-index: 99999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.loader img {
  width: 192px;
  height: 192px;
}

.top {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 20px;
  right: -100px;
  background-color: #e6e6e6;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  cursor: pointer;
  color: grey;
  z-index: 5;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  opacity: 0.5;
}

.top.active {
  right: 20px;
}

.top:hover {
  opacity: 1;
}

/* HEADER */
.header-top {
  padding: 30px 0;
}

.header .line {
  height: 1px;
  background-color: #E8EAEF;
}

.header-socials a {
  display: inline-block;
  font-size: 1.1rem;
  color: #393C49;
  text-decoration: none;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.header-socials a:hover {
  color: #9094a6;
}

.header-socials a:not(:last-child) {
  margin-right: 15px;
}

.header-logo img {
  display: block;
  max-width: 160px;
}

.header-lang a {
  display: inline-block;
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
  font-family: 'Gotham';
  font-size: 0.8rem;
  color: #acabab;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.header-lang a:not(:last-child) {
  margin-right: 20px;
}

.header-lang a::before {
  position: absolute;
  display: block;
  content: "";
  height: 3px;
  width: 3px;
  border-radius: 50%;
  background-color: transparent;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -15px;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

.header-lang a:hover, .header-lang a.active {
  color: #181819;
}

.header-lang a:hover::before, .header-lang a.active::before {
  background-color: #181819;
}

.header-menu {
  padding: 20px 0;
}

.header-menu .menu-btn {
  position: absolute;
  right: 0;
  top: -37px;
  height: 20px;
  width: 25px;
  cursor: pointer;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  display: none;
}

.header-menu .menu-btn span {
  position: absolute;
  display: block;
  content: "";
  height: 3px;
  left: 0;
  right: 0;
  background-color: #575a60;
  cursor: pointer;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.header-menu .menu-btn .top-line {
  top: 0;
}

.header-menu .menu-btn .middle-line {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header-menu .menu-btn .bottom-line {
  bottom: 0;
}

.header-menu .menu-btn:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.header-menu .menu-btn.active .middle-line {
  display: none;
}

.header-menu .menu-btn.active .top-line {
  top: 8px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header-menu .menu-btn.active .bottom-line {
  bottom: 9px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header-menu ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header-menu li {
  position: relative;
  display: inline-block;
}

.header-menu li:not(:last-child)::after {
  position: absolute;
  display: block;
  content: "";
  height: 3px;
  width: 3px;
  border-radius: 50%;
  background-color: #181819;
  right: -62px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header-menu a {
  display: block;
  font-family: 'Gotham';
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-size: 0.8rem;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.header-menu a:hover {
  color: #acabab;
}

.header-banner .video {
  position: relative;
  cursor: pointer;
}

.header-banner .video::after {
  position: absolute;
  display: block;
  font-family: 'Fontawesome';
  content: "\f04c";
  color: #9f9c94;
  bottom: 30px;
  right: 30px;
  font-size: 2.2rem;
}

.header-banner .video:hover::after {
  content: "\f04b";
}

.header-banner .video img {
  display: block;
  max-width: 100%;
}

/* NEW-PROJECTS */
.new-projects {
  padding-top: 60px;
}

.new-projects-title {
  display: inline-block;
  position: relative;
  font-family: 'Gotham';
  text-align: center;
  font-size: 36px;
}

.new-projects-title::before, .new-projects-title::after {
  position: absolute;
  display: block;
  content: "";
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: #181819;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.new-projects-title::before {
  left: -40px;
}

.new-projects-title::after {
  right: -40px;
}

.new-projects-title-wrap {
  text-align: center;
  margin-bottom: 40px;
}

.new-projects-menu {
  margin-bottom: 60px;
}

.new-projects-menu ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.new-projects-menu li {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.new-projects-menu li:hover, .new-projects-menu li.active {
  color: #acabab;
}

.new-projects-menu li:not(:last-child) {
  margin-right: 20px;
}

.new-projects-menu li:not(:last-child)::after {
  position: absolute;
  display: block;
  content: "";
  height: 3px;
  width: 3px;
  border-radius: 50%;
  background-color: #181819;
  right: -10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.new-projects-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.new-projects-gallery .article {
  -ms-flex-preferred-size: 360px;
      flex-basis: 360px;
  margin-bottom: 60px;
  cursor: pointer;
}

.new-projects-gallery .article-img {
  display: inline-block;
  position: relative;
  margin-bottom: 20px;
}

.new-projects-gallery .article-img::after {
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  position: absolute;
  display: block;
  content: '';
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
}

.new-projects-gallery .article-img:hover::after {
  background-color: rgba(0, 0, 0, 0.3);
}

.new-projects-gallery .article-img img {
  display: block;
  max-width: 100%;
}

.new-projects-gallery .article-title {
  text-align: center;
  font-size: 1.2rem;
}

/* ORDER-INFO */
.order-info {
  background-color: #FBFBFB;
  padding: 60px 0;
}

.order-info-title {
  text-align: center;
  font-size: 36px;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
}

.order-info-text {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  font-size: 15px;
  line-height: 25px;
}

.order-info-text p {
  margin-bottom: 20px;
}

.order-info-text .hiden-text {
  display: none;
}

.order-info-text .read-more {
  margin-top: 40px;
  text-align: center;
  text-transform: uppercase;
}

.order-info-text .read-more span {
  display: inline-block;
  border-bottom: 1px dashed #181819;
  cursor: pointer;
  -webkit-transition: border-color 0.2s linear;
  transition: border-color 0.2s linear;
}

.order-info-text .read-more span:hover {
  border-color: transparent;
}

/* FOOTER */
.footer {
  background-color: #15161d;
  padding: 20px 0;
}

.footer-socials a {
  font-size: 1.1rem;
  color: #949597;
  text-decoration: none;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.footer-socials a:hover {
  color: #fff;
}

.footer-socials a:not(:last-child) {
  margin-right: 15px;
}

.footer-copyrights {
  color: #b2b2b3;
  font-size: 0.9rem;
}

.footer-copyrights::before, .footer-copyrights::after {
  position: absolute;
  display: block;
  content: "";
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: #b2b2b3;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.footer-copyrights::before {
  left: -30px;
}

.footer-copyrights::after {
  right: -30px;
}

/* MEDIA */
@media only screen and (max-width: 1199px) {
  .header-menu li:not(:last-child)::after {
    right: -46px;
  }
  .banner video {
    max-height: 510px;
  }
  .new-projects-gallery .article {
    -ms-flex-preferred-size: 290px;
        flex-basis: 290px;
  }
}

@media only screen and (max-width: 991px) {
  .header-menu li:not(:last-child)::after {
    right: -22px;
  }
  .banner video {
    max-height: 382px;
  }
  .new-projects {
    padding-top: 50px;
  }
  .new-projects-menu {
    margin-bottom: 40px;
  }
  .new-projects-gallery .article {
    -ms-flex-preferred-size: 345px;
        flex-basis: 345px;
  }
}

@media only screen and (max-width: 767px) {
  .header-top {
    padding: 15px 0;
  }
  .header-lang {
    text-align: right;
  }
  .header-logo {
    margin-top: 20px;
  }
  .header .line {
    position: absolute;
    top: 43px;
    left: 0;
    right: 0;
    height: 1px;
  }
  .header-menu {
    position: relative;
    padding: 0;
  }
  .header-menu .menu-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: space-between;
        -ms-flex-align: space-between;
            align-items: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-menu ul {
    display: none;
    position: absolute;
    z-index: 5;
    background-color: #fff;
    right: 0;
    border: 1px solid #000;
  }
  .header-menu ul li {
    display: block;
  }
  .header-menu ul a {
    padding: 5px 10px;
    color: #000;
  }
  .header-menu ul a:hover {
    background-color: #393737;
    color: #fff;
  }
  .header-lang {
    font-size: 0.7rem;
  }
  .header-lang a::before {
    top: -8px;
  }
  .header-socials {
    font-size: 1rem;
  }
  .new-projects-title::before, .new-projects-title::after {
    display: none;
  }
  .new-projects-gallery .article {
    -ms-flex-preferred-size: 255px;
        flex-basis: 255px;
  }
  .new-projects-gallery .article-title {
    font-size: 1rem;
  }
  .header-menu li:not(:last-child)::after {
    display: none;
  }
  .new-projects-menu {
    margin-bottom: 30px;
  }
  .new-projects-menu ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .new-projects-menu li {
    text-align: center;
    -ms-flex-preferred-size: 255px;
        flex-basis: 255px;
    padding: 5px  10px;
    border: 1px solid #181819;
    margin-bottom: 10px;
  }
  .new-projects-menu li:hover, .new-projects-menu li.active {
    border-color: #acabab;
  }
  .new-projects-menu li:not(:last-child) {
    margin-right: 0;
  }
  .new-projects-menu li:not(:last-child)::after {
    display: none;
  }
  .footer-copyrights::before, .footer-copyrights::after {
    display: none;
  }
  .order-info-text .read-more span {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 575px) {
  .header-top {
    padding-left: 10px;
    padding-right: 10px;
  }
  .header-menu .fa-bars {
    right: 10px;
  }
  .new-projects-title, .order-info-title {
    font-size: 28px;
  }
  .new-projects {
    padding-top: 30px;
  }
  .new-projects-title-wrap {
    margin-bottom: 30px;
  }
  .new-projects-menu ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .new-projects-menu li {
    -ms-flex-preferred-size: 360px;
        flex-basis: 360px;
  }
  .new-projects-gallery .article {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-align: center;
  }
  .new-projects-gallery .article {
    margin-bottom: 30px;
  }
  .order-info {
    padding: 30px 0;
  }
  .order-info-text p {
    text-align: justify;
  }
  .footer-copyrights {
    text-align: center;
  }
  .footer-logo, .footer-socials {
    margin-bottom: 15px;
    text-align: center;
  }
}

@media only screen and (max-width: 440px) {
  .header-lang a:not(:last-child) {
    margin-right: 10px;
  }
  .new-projects-menu li {
    -ms-flex-preferred-size: 280px;
        flex-basis: 280px;
  }
  .new-projects-gallery .article {
    -ms-flex-preferred-size: 280px;
        flex-basis: 280px;
    margin-right: auto;
    margin-left: auto;
  }
  .header-menu ul {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
